/* Reel Page Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    font-family: 'Neuton', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/pagebg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #254666;
}

main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#reel{
    width: 100%;            /* fill parent */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#reel h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: -40px;
    color: #ffefd6;
}

#reel-box img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.video-wrapper {
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 16 / 9;
    margin: 30px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    flex-shrink: 0;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    text-align: center;
    padding: 2vh 0;
    background: #222;
    color: #aaa;
    font-family: 'Neuton', sans-serif;
}

@media (max-width: 1200px) {
  .video-wrapper {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .video-wrapper {
    max-width: 500px;
  }

  body {
    min-height: 100vh;
  }

  main{
    flex: 1;
  }

  #reel {
    display: flex;          /* make it a flex container */
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    padding: 10px;
    width: 100%;            /* avoid overflow */
    box-sizing: border-box;
  }

  footer {
    width: 100%;
}
}

@media (max-width: 600px) {
  .video-wrapper {
    max-width: 60%;
    margin: 20px auto;
  }

  #reel h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}