/* Reel Page Styles */
body {
    font-family: 'Neuton', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/pagebg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #254666;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#reel{
    width: 1000px;
}

#reel h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: -40px;
    color: #ffefd6;
}

#reel-box img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.video-wrapper {
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 16 / 9;
    margin: 30px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    text-align: center;
    padding: 2vh 0;
    background: #222;
    color: #aaa;
    font-family: 'Neuton', sans-serif;
}