/* Resume Page Styles */
body {
    font-family: 'Neuton', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/pagebg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #173450;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-top: -8rem;
}

.resume-grid {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 2rem;
}

.resume-grid img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.resume-grid a:hover img {
  transform: scale(1.03);
}

.text {
  max-width: 720px;
}

.text h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffefd6;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

footer {
    text-align: center;
    padding: 2vh 0;
    background: #222;
    color: #aaa;
    font-family: 'Neuton', sans-serif;
}