
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Neuton', sans-serif;
    line-height: 1.6;
    background: #170603;
    color: #000;
    animation: fadeIn 1.5s ease-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/* Navbar */
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.hamburger-menu {
    padding: 1rem;
    cursor: pointer;
    color:#000
}

.hamburger-menu.hidden {
    display: none;
}

.hamburger-menu svg rect {
    fill: #f3dac6; 
    transition: fill 0.3s;
}


.hamburger-menu:hover svg rect {
    fill: #173450;
}

.nav-links {
    position: fixed;
    top: 0;
    left: -20vw; 
    width: 20vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: left 0.3s ease;
    z-index: 999;
}

.nav-links.active {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    cursor: pointer;
}

.nav-links a {
    color: #fdf6f0;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 1rem 0;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: #173450; 
}

/* Dropdown styles */
.dropdown {
    position: relative;
    margin: 1rem 0;
}

.dropdown-content {
    display: none;
    position: static;
    background: transparent;
    padding-left: 2rem;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("/img/pagebg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}

/* Grid Layout */
.hero-grid {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 1.3fr minmax(250px, 1fr);
    align-items: center;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    gap: 3vw;
}

/* Left Text */
.hero-left {
    color: #ffefd6;
    font-size: clamp(1.4rem, 2vw, 2rem);
    line-height: 1.5;
    max-width: 65ch;
    justify-self: end;
    text-align: center;
    transform: translate(14vh, 14vh);
}

.hero-right {
    color: #ffefd6;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    max-width: 45ch;
    justify-self: start;
    text-align: left;
   transform: translate(-14vh, 14vh);
}

/* Center Stack */
.hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-name {
    width: min(75vw, 1000px);
    height: auto;
    margin-bottom: -8vw;
    z-index: 1;
}

.hero-photo {
    width: min(32vw, 520px);
    height: auto;
    margin-top: clamp(-10vh, -6vw, -4vh);
    z-index: 2;
}

/* Right Links */
.hero-right {
    color: #ffefd6;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* align links to the right */
    gap: 1rem;
}

.hero-right a {
    text-decoration: none;
    color: #ffefd6;
    font-style: italic;
    transition: color 0.2s ease;
}

.hero-right a:hover {
    color: #173450;
}

/* Scroll Indicator */
.scroll-down {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #f8f0e3;
    font-size: 1rem;
    text-decoration: none;
    animation: bounce 2s infinite;
    z-index: 5;
}

/* About Section */

#about.content-screen .content-wrapper {
    flex-direction: row; /* left text, right carousel */
    justify-content: space-between; /* separate columns */
    align-items: flex-start;        /* align top edges */
    width: 100%;
}

.content-screen {
    min-height: 100vh;                  
    display: flex;
    flex-direction: column;
    justify-content: center;       
    align-items: center;             
    background-image: url(/img/pagebg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 5vw;
}

#about .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; /* clean 50 / 50 */
    gap: 4vw;
    align-items: center;
    width: 100%;
    max-width: 90vw;
}

/* Left text column */
.about-box {
  flex: 1;
  min-width: 40%;
  color: #ffefd6;
  align-items: center;
  justify-content: center;
  margin-top: 90px;;
}

.about-box h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5vh;
}

.about-box p {
    font-size: 1.8rem;
    line-height: 1.8;
}

#about .image-box {
    width: 100%;
}
/* Carousel adjustments */
#carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Carousel images */
#carousel img {
    max-height: 65vh;     
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

#carousel .carousel-control-prev,
#carousel .carousel-control-next {
    width: 50px;
}

#carousel .carousel-control-prev {
    left: 0;
}

#carousel .carousel-control-next {
    right: 0;
}

#carousel .carousel-control-prev-icon,
#carousel .carousel-control-next-icon {
  background-size: 100% 100%; /* scale arrows */
}

/* Portfolio Section */
#portfolio {
    background-image: url(/img/pagebg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-box {
    flex: 1;                      
    padding: 2vw;
    border-radius: 1vw;
}

.portfolio-box h2 {
    font-size: 2rem;
    margin-bottom: 1.5vh;
}

.scroll-down {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #f8f0e3;
    font-size: 1rem;
    text-decoration: none;
    z-index: 5;
    animation: bounce 2s infinite;
}

.next-screen {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #f8f0e3;
    font-size: 1rem;
    animation: bounce 2s infinite;
}

/* Contact Section */
#contact {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-image: url(/img/contactbg.svg);
    background-size: cover;        /* or contain */
    background-position: center;
    background-repeat: no-repeat;
}

#contact h2{
    color: #f8f0e3;
    font-size: 2.0vw;
    margin-bottom: 60vh;
    text-align: center;

}

.contact-bg {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    z-index: 1;
    pointer-events: none;
}

.contact-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button,
select,
textarea {
    font: inherit;
    font-family: 'Neuton', sans-serif;
}

form{
    display: grid;
    gap: 0.5rem;
    transform: translateY(3%);
    margin-top: 40px;
}

.form-group {
    display: grid;
}

label { 
    display:block;
    width:25vw;
    overflow:auto;
    font-family: 'Neuton', sans-serif;
    font-size: 1.5vw;
    color:#f8f0e3;
    text-shadow:0 0 2px #ddd;
}

input {
    float:right;
    width:25vw;
    border:2px solid #89b1d3;
    border-radius:7px;
    font-size:1.5vw;   
    background: transparent;
}

textarea {
    float:right;
    width:25vw;
    height:10vh;
    border:2px solid #89b1d3;
    border-radius:7px;
    font-size:1.5vw; 
    background: transparent; 
}

button {
    width: 25vw;
    border: none;
    border-radius: 5px;
    background: #152841;
    color: #f8f0e3;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
    padding: 2vh 0;
    background: #222;
    color: #aaa;
}

/* Animations */
@keyframes slideInDown {
    from { transform: translateY(-40px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -10px); }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1400px) {
    .hero-grid {
        max-width: 90vw;
    }

    .hero-left,
    .hero-right {
        max-width: 48ch;
    }
}

@media (max-width: 1200px) {
    .hero-grid {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .hero-name, .hero-photo{
        transform: translate(-2vh);
    }

    .hero-name {
        width: 70vw;
    }

    .hero-photo {
        width: 35vw;
    }

    .hero-left{
        transform: translate(25vh, 15vh);
    }

    .hero-right{
        transform: translate(-25vh, 12vh);
        font-size: 1.5rem;
    }

    .about-box h2{
        font-size: 2.2rem;
    }

     .about-box p{
        font-size: 1.5rem;
    }

    .about-box{
        transform: translateY(-4vh);
    }

    #contact h2{
        font-size: 2.0rem;
        padding-top: 25px;
    }

    #closeSidebar{
        padding-left: 20vh;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 95%;
    }

    /* HERO */

    #hero{
        min-height: 100vh;
    }

    .hero-grid {
        display: flex;
    }

    .hero-left,
    .hero-right {   
        display: none;
    }

    .hero-photo {
        width: 42vw;
        transform: translateY(2vh);
    }

    .hero-name {
        width: 80vw;
    }

    /* ABOUT */
    #about .content-wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-box {
        margin-top: 5vh;
      
        gap: 0;
    }

    .image-box{
        transform: translateY(-10vh);
    }

    .about-box h2{
        font-size: 2.2rem;
    }

    .about-box p {
        font-size: 1.3rem;
        max-width: 65ch;
    }

    /* NAV */
    .nav-links {
        width: 40vw;
        left: -60vw;
        font-size: 1.3rem;
    }

    label,
    input,
    textarea,
    button {
        width: 60vw;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 90%;
       
    }

    /* HERO */
    .hero {
        padding: 4rem 4vw;
    }

    .hero-name {
        width: 80vw;
        transform: translateY(5vh);
    }

    .hero-photo {
        width: 55vw;
        transform: translateY(15vh);
    }

    .hero-left{
        transform: translate(62vh, -8vh);
        min-width: 42ch;
        font-size: 1.2rem;
        line-height: 1;
    }

    .hero-right{
        align-items: start;
    }

    .about-box p {
        line-height: 1.3;

    }

    /* CONTACT FORM */
    label,
    input,
    textarea,
    button {
        width: 70vw;
        font-size: 1rem;
    }

    textarea {
        height: 20vh;
    }

    #contact h2 {
        font-size: 1.5rem;
        margin-bottom: 25rem;
    }

    /* FOOTER */
    footer {
        font-size: 0.9rem;
    }

    /* NAV */
    .nav-links {
        width: 45vw;
        left: -80vw;
    }
}

@media (max-width: 320px){
    .hero-photo {
        width: 60vw;
        transform: translateY(3vh);
    }
    .nav-links {
        width: 45vw;
        left: -80vw;
    }

    .nav-links a{
        font-size: 1rem;
        margin: 0;
    
    }
}


